/* @import url("@react-aria/example-theme"); */

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  --background-color: #242424;
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  /* display: flex;
  place-items: start; */
  min-width: 320px;
  min-height: 100svh;
}

p {
  margin-block: 1em;
}
h1 {
  margin-block: 0.67em;
}
h2 {
  margin-block: 0.83em;
}
h3 {
  margin-block: 1em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  will-change: border-color;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="search"] {
  appearance: none;
  border: none;
  color: inherit;
  border-bottom: solid 2px currentColor;
  padding: 0 4px;
  width: fit-content;
}

input:focus {
  outline-offset: -1px;
} */

ul,
ol {
  margin-block: 1em;
}

hgroup h1 {
  margin-block-end: 0;
}

hgroup p {
  margin-block: 0;
  /* font-weight: bold; */
}

hgroup p:last-of-type {
  margin-block-start: 0;
  margin-block-end: 1em;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    --background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button,
  .button {
    background-color: #f9f9f9;
  }
}

.react-aria-ModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: var(--visual-viewport-height);
  background: rgba(0 0 0 / 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;

  &[data-entering] {
    animation: modal-fade 200ms;
  }

  &[data-exiting] {
    animation: modal-fade 150ms reverse ease-in;
  }
}

.react-aria-Modal {
  box-shadow: 0 8px 20px rgba(0 0 0 / 0.1);
  border-radius: 6px;
  background: var(--overlay-background);
  color: var(--text-color);
  border: 1px solid var(--gray-400);
  outline: none;
  max-width: 19rem;

  &[data-entering] {
    animation: modal-zoom 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .react-aria-TextField {
    margin-bottom: 8px;
  }
}

@keyframes modal-fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes modal-zoom {
  from {
    transform: scale(0.8);
  }

  to {
    transform: scale(1);
  }
}
